@import url(css\nav.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.main-container {
    position: relative;
    width: 100%;
}

.text {
    position: absolute;
    color: var(--bg-color);
}

.btn {
    display: flex;
    justify-content: center;
    flex: 0 0 12.5rem;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.btn-primary {
    position: absolute;
    text-decoration: none;
    background: var(--primary-color);
    padding: 0.9rem 1.8rem;
    top: 60%;
    left: 30%;
    border-radius: 1.8rem;
    min-width: 12.5rem;
    text-align: center;

}

.btn-primary:hover {
    background: var(--bg-color);
    color: var(--secondary-color);
}

.btn-secondary {
    position: absolute;
    text-decoration: none;
    border: 5px solid transparent;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 30px;
    padding: 0.9rem 1.8rem;
    top: 60%;
    left: 50%;
    min-width: 12.5rem;
    text-align: center;
}

.btn-secondary:hover {
    background: var(--primary-color);
    color: var(--bg-color);
}

.text-h {
    top: 20%;
    left: 35%;
}

.text-p {
    top: 40%;
    left: 20%;
}

.bg-img {
    width: 100%;
    height: 40.5rem;
}