@import url(css\nav.css);
@import url(css\doc.css);
.typo-heading{
    display: flex;
    flex-direction: column;
    background-color: #d3e0e0;
    width: 80%;
    height: 50%;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 10px;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin: 5px;
}
.w-700{
    min-width: 500px;
    margin: 0.5rem 0;
    padding: 0px;
}