<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\Components\Image\image.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="/">Docs</a>
                </li>
                <li>
                    <a href="/">Examples</a>
                </li>
                <li>
                    <a href="/">Releases</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="/">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="/">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="/">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="/">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="/">Button</a>
                </li>
                <li class="list-menu">
                    <a href="/">Card</a>
                </li>
                <li class="list-menu">
                    <a href="/">Image</a>
                </li>
                <li class="list-menu">
                    <a href="/">Input</a>
                </li>
                <li class="list-menu">
                    <a href="/">List</a>
                </li>
                <li class="list-menu">
                    <a href="/">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="/">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Images</h1>
            <p class="title-content line-space title">Images play an important role in any webpage. Using Ozone library, you can easily make your images responsive.</p>
            <div class="line w-800"></div>
            <h2 class="title">Responsive Image</h2>
            <p class="title-content line-space title">Responsive images will automatically adjust to fit the size of the screen. Resize the browser window to see the responsive effect</p>
            <div class="img-container">
                <img src="\images\cricket_img.jpg" class="res-image" alt="cricket">
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Round Image</h2>
            <p class="title-content line-space title">Round Images are the images which are circular in shape.</p>
            <div class="img-container">
                <img src="\images\sea_img.jpg" class="round-image round" alt="sea">
                <img src="\images\landscpae_img.jpg" class="round-image round" alt="landscape">
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Square Image</h2>
            <p class="title-content line-space title">Square Images are the square shaped images.</p>
            <div class="img-container">
                <img src="\images\sea_img.jpg" class="square-image" alt="sea">
                <img src="\images\landscpae_img.jpg" class="square-image" alt="landscape">
            </div>


        </div>
    </div>
</body>

</html>