<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/prism.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/doc.css">
    <link rel="stylesheet" href="/Components/Image/image.css">
    <title>Ozone | Image</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="../../index.html">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="https://github.com/Megha-Joshi"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/megha-joshi24/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/megha24joshi"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../../Get Started/doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="../../Get Started/color.html">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../Avatar/avatar.html">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="../Alert/alert.html">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="../Badge/badge.html">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="../Button/button.html">Button</a>
                </li>
                <li class="list-menu">
                    <a href="../Card/card.html">Card</a>
                </li>
                <li class="list-menu current">
                    <a href="../Image/image.html">Image</a>
                </li>
                <li class="list-menu">
                    <a href="../Input/input.html">Input</a>
                </li>
                <li class="list-menu">
                    <a href="../Lists/list.html">List</a>
                </li>
                <li class="list-menu">
                    <a href="../Snackbar/snack.html">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="../Text utilities/text-utility.html">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Images</h1>
            <p class="title-content line-space title">Images play an important role in any webpage. Using Ozone library, you can easily make your images responsive.</p>
            <div class="line w-800"></div>
            <h2 class="title">Responsive Image</h2>
            <p class="title-content line-space title">Responsive images will automatically adjust to fit the size of the screen. Resize the browser window to see the responsive effect.</p>
            <div class="img-container">
                <img src="\images\cricket_img.jpg" class="res-image" alt="cricket">
            </div>
            <p class="title-content line-space title">To get a responsive image, just add "res-image" class in the img tag.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    // Responsive Image
                    <img src=".." class="res-image" alt="..">
                </script>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Round Image</h2>
            <p class="title-content line-space title">Round Images are the images which are circular in shape.</p>
            <div class="img-container">
                <img src="\images\sea_img.jpg" class="round-image" alt="sea">
                <img src="\images\landscpae_img.jpg" class="round-image" alt="landscape">
            </div>
            <p class="title-content line-space title">To get a round shaped image, just add "round-image" class in the img tag.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    //Round Images
                    <img src=".." class="round-image" alt="..">

                    <img src=".." class="round-image" alt="..">
                </script>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Square Image</h2>
            <p class="title-content line-space title">Square Images are the square shaped images.</p>
            <div class="img-container">
                <img src="\images\sea_img.jpg" class="square-image" alt="sea">
                <img src="\images\landscpae_img.jpg" class="square-image" alt="landscape">
            </div>
            <p class="title-content line-space title">To get a square shaped image, just add "square-image" class in the img tag.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    //Square Images
                    <img src=".." class="square-image" alt="..">

                    <img src=".." class="square-image" alt="..">
                </script>
            </div>


        </div>
    </div>
    <script src="\prism.js"></script>
</body>

</html>