<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/doc.css">
    <link rel="stylesheet" href="/Components/Grid/grid.css">
    <link rel="stylesheet" href="/prism.css">
    <link rel="shortcut icon" href="../../images/Ozone-modified.png" type="image/x-icon">
    <title>Ozone | Grid</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="../../index.html">
                    <img src="../../images/Ozone.png" class="nav-img">
                </a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="https://github.com/Megha-Joshi"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/megha-joshi24/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/megha24joshi"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../../Get Started/doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="../../Get Started/color.html">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../Avatar/avatar.html">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="../Alert/alert.html">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="../Badge/badge.html">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="../Button/button.html">Button</a>
                </li>
                <li class="list-menu">
                    <a href="../Card/card.html">Card</a>
                </li>
                <li class="list-menu">
                    <a href="../Image/image.html">Image</a>
                </li>
                <li class="list-menu">
                    <a href="../Input/input.html">Input</a>
                </li>
                <li class="list-menu current">
                    <a href="../Grid/grid.html">Grid</a>
                </li>
                <li class="list-menu">
                    <a href="../Lists/list.html">List</a>
                </li>
                <li class="list-menu">
                    <a href="../Modal/modal.html">Modal</a>
                </li>
                <li class="list-menu">
                    <a href="../Navigation/navigation.html">Navigation</a>
                </li>
                <li class="list-menu">
                    <a href="../Rating/rating.html">Rating</a>
                </li>
                <li class="list-menu">
                    <a href="../Slider/slider.html">Slider</a>
                </li>
                <li class="list-menu">
                    <a href="../Snackbar/snack.html">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="../Text utilities/text-utility.html">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Grid</h1>
            <p class="title-content line-space title">Grid offers a grid-based layout system, with
                rows and columns, making it easier to design web pages without having to use floats and positioning.
            </p>
            <div class="line w-800"></div>
            <h2 class="title">Grid with 2 rows and 3 columns </h2>
            <div class="grid-container">
                <div class="grid-section col-3">
                    <div class="gr-box color">1</div>
                    <div class="gr-box color">2</div>
                    <div class="gr-box color">3</div>
                    <div class="gr-box color">4</div>
                    <div class="gr-box color">5</div>
                    <div class="gr-box color">6</div>
                </div>
            </div>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    <div class="grid-section col-3">
                        <div class="gr-box color">1</div>
                        <div class="gr-box color">2</div>
                        <div class="gr-box color">3</div>
                        <div class="gr-box color">4</div>
                        <div class="gr-box color">5</div>
                        <div class="gr-box color">6</div>
                    </div>
                </script>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Grid with 3 rows and 2 columns </h2>
            <div class="grid-container">
                <div class="grid-section col-2">
                    <div class="gr-box color">1</div>
                    <div class="gr-box color">2</div>
                    <div class="gr-box color">3</div>
                    <div class="gr-box color">4</div>
                    <div class="gr-box color">5</div>
                    <div class="gr-box color">6</div>
                </div>
            </div>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    <div class="grid-section col-2">
                        <div class="gr-box color">1</div>
                        <div class="gr-box color">2</div>
                        <div class="gr-box color">3</div>
                        <div class="gr-box color">4</div>
                        <div class="gr-box color">5</div>
                        <div class="gr-box color">6</div>
                    </div>
                </script>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Uneven Grid</h2>
            <div class="grid-container">
                <div class="grid-section">
                    <div class="gr-box1 grid color">1</div>
                    <div class="gr-box2 grid color">2</div>
                    <div class="gr-box3 grid color">3</div>
                    <div class="gr-box4 grid color">4</div>
                    <div class="gr-box5 grid color">5</div>
                </div>
            </div>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    <div class="grid-section">
                        <div class="gr-box1 grid color">1</div>
                        <div class="gr-box2 grid color">2</div>
                        <div class="gr-box3 grid color">3</div>
                        <div class="gr-box4 grid color">4</div>
                        <div class="gr-box5 grid color">5</div>
                    </div>
            </script>
            </div>
        </div>
        <script src="\prism.js"></script>
    </div>
</body>

</html>