@import url(nav.css);
@import url(doc.css);

.color-palette{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    margin-top: 40px;
    /* background-color: tomato; */
}
.color{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.primary{
    background: var(--primary-color);
}
.secondary{
    background: var(--secondary-color);
}
.bground{
    background: var(--bg-color);
}
.font{
    background: var(--font-color);
    color: white;
}
.success{
    background-color: var(--success-color);
}
.danger{
    background: var(--danger-color);
}
.warning{
    background-color: var(--warning-color);
}