@import url(nav.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Docs */
.main{
    display: flex;
    flex: 0 0 100%;
    gap: 50px;
 } 
.left-container{
    width: 15%;
}
.gutter{
    margin: 0px 30px 20px 140px;
}
.item{
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}
.item:hover{
    background: var(--primary-color);
    border-radius: 5px;
}
.item:focus{
    color: var(--seconday-color);
}
.item-one:hover{
    background: none;
    border-radius: 0px;
}
.item a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}
.line{
    border-bottom: 2px solid #05cecd;
    padding-top: 20px;
    min-width: 230px;
}
.right-container{
    margin-right: 100px;
}
.title{
    margin: 10px 0px 20px 10px;
}
.title-content{
    font-weight: 300;
    font-size: 16px;
}
.line-space{
    line-height: 35px;
    margin-right: 200px;
}
.w-800{
    width: 800px;
    margin: 10px 10px 40px 10px;
}