<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="\prism.css">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\Components\Input\input.css">
    <link rel="stylesheet" href="\Components\Button\button.css">
    <title>Ozone | Input</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="https://github.com/Megha-Joshi"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/megha-joshi24/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/megha24joshi"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="/">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="/">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="/">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="/">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="/">Button</a>
                </li>
                <li class="list-menu">
                    <a href="/">Card</a>
                </li>
                <li class="list-menu">
                    <a href="/">Image</a>
                </li>
                <li class="list-menu">
                    <a href="/">Input</a>
                </li>
                <li class="list-menu">
                    <a href="/">List</a>
                </li>
                <li class="list-menu">
                    <a href="/">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="/">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Inputs</h1>
            <p class="title-content line-space title">Inputs are used to take information from the user, and then save
                the data to the server, accordingly.</p>
            <div class="line w-800"></div>
            <h2 class="title">Form Input</h2>
            <p class="title-content line-space title">Label Input has a label present at the top of the input field.
                They can be
                customized to show error-message, and change color accordingly.</p>
            <div class="input-container">
                <div class="form-container">
                    <label for="username" class="input-text">Username</label><br>
                    <input type="text" id="username" name="username" placeholder="Username"
                        class="input-box title-content" required><br>
                    <label for="password" class="input-text error">Password*</label><br>
                    <input type="password" id="password" name="password" placeholder="**********"
                        class="input-box error-box title-content" required>
                    <p class="error title-content error-message">Please choose a password.</p>
                    <button class="btn-info btn btn-text">Sign In</button>
                </div>
            </div>
            <p class="title-content line-space title">Use this template in your website to get the input fields like this.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    <label for="username" class="input-text">Username</label><br>

                    <input type="text" placeholder="Username" class="input-box title-content" required><br>

                    <label for="password" class="input-text error">Password*</label><br>

                    <input type="password" placeholder="**********" class="input-box error-box title-content" required>

                    <p class="error title-content error-message">Please choose a password.</p>

                    <button class="btn-info btn btn-text">Sign In</button>
                </script>
            </div>





        </div>
    </div>
    <script src="\prism.js"></script>
</body>

</html>