.input-container {
    display: flex;
    background-color: var(--box-color);
    width: 80%;
    min-height: 40%;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1.25rem 0.625rem;
    padding: 1.25rem;
}
.form-container{
    background-color: var(--bg-color);
    border-radius: 5px;
    height: 100%;
    width: 50%;
    margin: 10px;
    padding: 1.25rem;
}
.error{
    color: var(--danger-color);
}
.error-message{
    margin-bottom: 1rem;
    margin-left: 10px;
    width: 100%;
}
.input-text{
    padding: 10px;
}
.input-box{
    width: 80%;
    height: 10px;
    margin:  10px;
    border-radius: 5px;
    padding: 1.25rem 0.625rem;
    outline: none;
}
.input-box:focus{
    border: 1px solid var(--accent-color);
}

.error-box{
    border: 1px solid red;
}
.error-box:focus{
    border: 1px solid var(--danger-hover);
}
.btn {
    margin: 10px;
    padding: 0.8rem 1rem;
    min-width: 6.25rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-text{
    color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.btn-info {
    background-color: var(--accent-color);
}
.btn-info:hover{
    background-color: var(--accent-hover);
}