@import url(nav.css);
@import url(doc.css);
.alert-container{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--box-color);
    width: 80%;
    height: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1.25rem 0.625rem;
}
.alert{
    width: 90%;
    padding: 0.95rem;
    border-radius: 5px;
}
.primary-alert{
    background: var(--primary-color);
}
.secondary-alert{
    background: var(--secondary-color);
}
.error-alert{
    background-color: var(--danger-color);
}
.warning-alert{
    background-color: var(--warning-color);
}
.success-alert{
    background-color: var(--success-color);
}
.secondary-alert-outline{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.error-alert-outline{
    border: 2px solid var(--danger-color);
    color: var(--danger-color);
}
.warning-alert-outline{
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}
.success-alert-outline{
    border: 2px solid var(--success-color);
    color: var(--success-color);
}
.info-alert-outline{
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
}