<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\css\image.css">
    <link rel="stylesheet" href="\Components\Avatar\avatar.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="/">Docs</a>
                </li>
                <li>
                    <a href="/">Examples</a>
                </li>
                <li>
                    <a href="/">Releases</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="/">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="/">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="/">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="/">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="/">Button</a>
                </li>
                <li class="list-menu">
                    <a href="/">Card</a>
                </li>
                <li class="list-menu">
                    <a href="/">Image</a>
                </li>
                <li class="list-menu">
                    <a href="/">Input</a>
                </li>
                <li class="list-menu">
                    <a href="/">List</a>
                </li>
                <li class="list-menu">
                    <a href="/">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="/">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Avatar</h1>
            <p class="title-content line-space title">Avatars are images that users can set as their profile picture, usually found in circular
                shapes.They can be custom photos or uploaded by users.</p>
            <div class="line w-800"></div>
            <h2 class="title">Simple Round Avatar</h2>
            <p class="title-content line-space title">Simple round avatars are circular in shape and used by the users in their profile pictures.</p>
            <div class="avatar-container">
                <img src="\images\avatar.jpeg" class="avatar-image round">
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Sizes Avatars</h2>
            <p class="title-content line-space title">Size of the avatars can be changed by adding different sizes to the existing avatar class.</p>
            <div class="avatar-container">
                <img src="\images\avatar.jpeg" class="avatar-image sm">
                <img src="\images\avatar.jpeg" class="avatar-image">
                <img src="\images\avatar.jpeg" class="avatar-image lg">
            </div>
            


        </div>
    </div>
</body>

</html>