.list-container {
    display: flex;
    flex-direction: column;
    background-color: var(--box-color);
    width: var(--container-width);
    border-radius: var(--container-border-radius);
    padding: var(--container-padding);
    margin: var(--container-margin);
    justify-content: center;
    align-items: center;
    gap: var(--container-gap);
}

.spaced,
.stacked {
    padding: 10px;
    border-radius: var(--container-border-radius);
    color: rgba(0, 0, 0, 0.719);
    background-color: var(--accent-color);
}

.spaced {
    display: inline-block;
    margin: 5px;
}

.stacked {
    margin: 20px;
}

.bullet {
    list-style-type: circle;
}
.non-bullet{
    list-style-type: none;
}