<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\Components\Text utilities\Lists\list.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="/">Docs</a>
                </li>
                <li>
                    <a href="/">Examples</a>
                </li>
                <li>
                    <a href="/">Releases</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="/">Colors</a>
                </li>
                <li class="list-menu">
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="/">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="/">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="/">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="/">Button</a>
                </li>
                <li class="list-menu">
                    <a href="/">Card</a>
                </li>
                <li class="list-menu">
                    <a href="/">Image</a>
                </li>
                <li class="list-menu">
                    <a href="/">Input</a>
                </li>
                <li class="list-menu">
                    <a href="/">List</a>
                </li>
                <li class="list-menu">
                    <a href="/">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="/">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Lists</h1>
            <p class="title-content title">Lists are used to specify lists of information. All lists may contain one or more list elements.</p>
            <div class="line w-800 "></div>
            <h2 class="title">Spaced List</h2>
            <p class="title-content title">All HTML headings, <code>h1</code> through <code>h6</code> , are available.</p>
            <section class="list-container">
                <ul>
                    <li class="spaced">Item 1</li>
                    <li class="spaced">Item 2</li>
                    <li class="spaced">Item 3</li>
                    <li class="spaced">Item 4</li>
                    <li class="spaced">Item 5</li>
                </ul>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Stacked List Without Bullets</h2>
            <p class="title-content title">All HTML headings, <code>h1</code> through <code>h6</code> , are available.</p>
            <section class="list-container">
                <ul class="non-bullet">
                    <li class="stacked">Item 1</li>
                    <li class="stacked">Item 2</li>
                    <li class="stacked">Item 3</li>
                    <li class="stacked">Item 4</li>
                    <li class="stacked">Item 5</li>
                </ul>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Stacked List With Bullets</h2>
            <p class="title-content title">All HTML headings, <code>h1</code> through <code>h6</code> , are available.</p>
            <section class="list-container">
                <ul class="bullet">
                    <li class="stacked">Item 1</li>
                    <li class="stacked">Item 2</li>
                    <li class="stacked">Item 3</li>
                    <li class="stacked">Item 4</li>
                    <li class="stacked">Item 5</li>
                </ul>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Ordered List</h2>
            <p class="title-content title">All HTML headings, <code>h1</code> through <code>h6</code> , are available.</p>
            <section class="list-container">
                <ol class="ordered">
                    <li class="stacked">Item 1</li>
                    <li class="stacked">Item 2</li>
                    <li class="stacked">Item 3</li>
                    <li class="stacked">Item 4</li>
                    <li class="stacked">Item 5</li>
                </ol>
            </section>

            
            

        </div>
    </div>
</body>
</html>