@import url(nav.css);
@import url(doc.css);
@import url(main.css);
.btn-container {
    display: flex;
    background-color: var(--box-color);
    width: 80%;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1.25rem 0.625rem;
    padding: 1.25rem;
}

.btn {
    margin: 10px;
    padding: 0.8rem 1rem;
    min-width: 6.25rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-text{
    color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.btn-primary{
    background: var(--primary-color);
}
.btn-primary:hover{
    background: var(--bg-color);
    color: var(--secondary-color);
}

.btn-success {
    background-color: var(--success-color);
}
.btn-success:hover{
    background-color: var(--success-hover);
}

.btn-danger {
    background-color: var(--danger-color);
}
.btn-danger:hover{
    background-color: var(--danger-hover);
}

.btn-warning {
    background-color: var(--warning-color);
}
.btn-warning:hover{
    background-color: var(--warning-hover);
}

.btn-info {
    background-color: var(--accent-color);
}
.btn-info:hover{
    background-color: var(--accent-hover);
}

.btn-success-outline {
    border: 3px solid var(--success-color);
    color: var(--success-color);
}

.btn-success-outline:hover{
    background-color: var(--success-color);
    color: var(--bg-color);
}

.btn-danger-outline {
    border: 3px solid var(--danger-color);
    color: var(--danger-color);
}
.btn-danger-outline:hover{
    background-color: var(--danger-color);
    color: var(--bg-color);
}

.btn-warning-outline {
    border: 3px solid var(--warning-color);
    color: var(--warning-color);
}
.btn-warning-outline:hover{
    background-color: var(--warning-color);
    color: var(--bg-color);
}

.btn-info-outline {
    border: 3px solid var(--accent-color);
    color: var(--accent-color);
}
.btn-info-outline:hover{
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.btn-secondary-outline{
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}
.icon-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-img{
    width: 1.25rem;
    height: 1.25rem;
}
.float-img{
    width: 3rem;
    height: 3rem;
}