<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\css\main.css">
    <link rel="stylesheet" href="\Component\Button\button.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Component Library</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="/">Docs</a>
                </li>
                <li>
                    <a href="/">Examples</a>
                </li>
                <li>
                    <a href="/">Releases</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="item item-one">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="item">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="item">
                    <a href="/">Colors</a>
                </li>
                <li class="item">
                    <a href="/">Typography</a>
                </li>
                <li class="item">
                    <a href="/">Conclusion</a>
                </li>
            </ul>
            <h3 class="item item-one">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="item">
                    <a href="/">Avatar</a>
                </li>
                <li class="item">
                    <a href="/">Alert</a>
                </li>
                <li class="item">
                    <a href="/">Badge</a>
                </li>
                <li class="item">
                    <a href="/">Button</a>
                </li>
                <li class="item">
                    <a href="/">Card</a>
                </li>
                <li class="item">
                    <a href="/">Image</a>
                </li>
                <li class="item">
                    <a href="/">Input</a>
                </li>
                <li class="item">
                    <a href="/">List</a>
                </li>
                <li class="item">
                    <a href="/">Toast</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Buttons</h1>
            <p class="title-content line-space title">Buttons are the soul of an interactive Web Application. Buttons allow users
                to take actions, and make choices, with a single tap.</p>
            <div class="line w-800"></div>
            <h2 class="title">Solid Buttons</h2>
            <p class="title-content line-space title">Contained buttons are high-emphasis, distinguished by their use of elevation
                and fill. They contain actions that are primary to your app.</p>
            <div class="btn-example">
                <button class="btn-primary btn btn-text">Primary</button>
                <!-- <button class="btn-secondary btn-solid btn-text">Secondary</button> -->
                <button class="btn-success btn btn-text">Success</button>
                <button class="btn-danger btn btn-text">Danger</button>
                <button class="btn-warning btn btn-text">Warning</button>
                <button class="btn-info btn btn-text">Info</button>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Outline Buttons</h2>
            <p class="title-content line-space title">In need of a button, but not the hefty background colors they bring? Replace
                '.btn-variant' with '.outline-variant'.</p>
            <div class="btn-example">
                <button class="btn-secondary-outline btn-text btn">Secondary</button>
                <button class="btn-success-outline btn-text btn">Success</button>
                <button class="btn-danger-outline btn-text btn">Danger</button>
                <button class="btn-warning-outline btn-text btn">Warning</button>
                <button class="btn-info-outline btn-text btn">Info</button>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Link Button</h2>
            <p class="title-content line-space title">Want to attach a link action, at a button tap? Use Link Button</p>
            <div class="btn-example">
                <button class="btn-info btn btn-text">
                    <a href="/" class="btn-text">Link</a>
                </button>

            </div>
            <div class="line w-800"></div>
            <h2 class="title">Icon Button</h2>
            <p class="title-content line-space title">Icon Buttons can be created, by using a SVG as a child to parent button. Use
                the 'btn' class followed by 'btn-icon'.</p>
            <div class="btn-example">
                    <button class="btn-info btn btn-text icon-button">
                        <img src="download_icon.png" class="btn-img">
                        <span>Download</span></button>
                        <button class="btn-info btn btn-text icon-button">
                            <img src="save_icon.png" class="btn-img">
                            <span>Save</span></button>
                
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Floating Action Button</h2>
            <p class="title-content line-space title">Icon Buttons can be created, by using a SVG as a child to parent button. Use
                the 'btn' class followed by 'btn-icon'.</p>
            <div class="btn-example">
                        <img src="circle_plus.png" class="float-img">
                        <img src="icon-upward.png" class="float-img">
                
            </div>
        </div>
    </div>
</body>

</html>