@import url(nav.css);
@import url(doc.css);

.img-example{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #d3e0e0;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 20px;
}
.res-image{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.round-image{
    width: 150px;
    height: 150px;
}
.round{
    border-radius: 50%;
}
.square-image{
    width: 140px;
    height: 140px;
    border-radius: 5px;
}