.rating-container {
    display: flex;
    flex-direction: column;
    gap: var(--container-gap);
    background-color: var(--box-color);
    width: var(--container-width);
    height: 15%;
    justify-content: center;
    align-items: center;
    border-radius: var(--container-border-radius);
    margin: var(--container-margin);
}

.star-section {
    display: flex;
    background-color: var(--bg-color);
    gap: 0.25rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
}

.filled {
    color: #FDCC0D;
    cursor: pointer;
}

.unfilled {
    color: var(--box-color);
    cursor: pointer;
}