.badge-container{
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    background-color: #d3e0e0;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 1.25rem 0.625rem;
    padding: 1.25rem;
}
.badge-item{
    position: relative;
}
.badge-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.badge{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}
.red-circle, .dnd{
    background-color: var(--danger-color);
}
.yellow-circle{
    background-color: var(--warning-color);
}
.green-circle, .online{
    background-color: var(--success-color);
}
.badge-border{
    border: 2px solid var(--bg-color);
}
.avatar-badge{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 100%;
    position: absolute;
}
.avatar-badge-pos{
    top: 2rem;
    left: 2.3rem;
}
.offline{
    background-color: lightgray;
}
