.badge-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #d3e0e0;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 20px;
}
.badge-item{
    position: relative;
}
.badge-icon{
    width: 40px;
    height: 40px;
}
.badge{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}
.red-circle, .dnd{
    background-color: var(--danger-color);
}
.yellow-circle{
    background-color: var(--warning-color);
}
.green-circle, .online{
    background-color: var(--success-color);
}
.badge-border{
    border: 2px solid var(--bg-color);
}
.avatar-badge{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
}
.avatar-badge-pos{
    top: 35px;
    left: 35px;
}
.offline{
    background-color: lightgray;
}
