<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/prism.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/doc.css">
    <link rel="stylesheet" href="/Components/Snackbar/snack.css">
    <title>Snackbar</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="../../index.html">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="https://github.com/Megha-Joshi"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/megha-joshi24/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/megha24joshi"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../../Get Started/doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="../../Get Started/color.html">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../Avatar/avatar.html">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="../Alert/alert.html">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="../Badge/badge.html">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="../Button/button.html">Button</a>
                </li>
                <li class="list-menu">
                    <a href="../Card/card.html">Card</a>
                </li>
                <li class="list-menu">
                    <a href="../Image/image.html">Image</a>
                </li>
                <li class="list-menu">
                    <a href="../Input/input.html">Input</a>
                </li>
                <li class="list-menu">
                    <a href="../Lists/list.html">List</a>
                </li>
                <li class="list-menu current">
                    <a href="../Snackbar/snack.html">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="../Text utilities/text-utility.html">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Snackbar</h1>
            <p class="title-content title">Snackbars provide brief messages about app processes at the bottom of the
                screen.</p>
            <div class="line w-800"></div>
            <!-- Baseline -->
            <h2 class="title">Baseline Snackbar</h2>
            <p class="title-content title">Ozone provides a baseline snackbar to start an consistent, and simple
                baseline snackbar to build upon.</p>
            <div class="snackbar-container">
                <div class="inside-container">
                    <p>Can't send photo. Retry in 5 seconds.</p>
                    <div class="item item-one">
                        <button class="snack-btn">RETRY</button>
                        <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                    </div>
                </div>
            </div>
            <p class="title-content title">You can add this baseline snackbar by adding below mentioned classes.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    // Baseline Snackbar
                    <div class="snackbar-container">
                        <div class="inside-container">
                            <p>Can't send photo. Retry in 5 seconds.</p>
                            <div class="item item-one">
                                <button class="snack-btn">RETRY</button>
                                <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <!-- Leading -->
            <div class="line w-800"></div>
            <h2 class="title">Leading Snackbar</h2>
            <p class="title-content title">On larger screens, leading snackbars displayed on the leading edge of the
                screen. </p>
            <div class="snackbar-container leadsnack">
                <div class="inside-container margin-lead">
                    <p>Your photo has been archieved.</p>
                    <div class="item item-one">
                        <button class="snack-btn">UNDO</button>
                        <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                    </div>
                </div>
            </div>
            <p class="title-content title">You can use this leading snackbar by adding "leadsnack" class to the common classes.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    // Leading Snackbar
                    <div class="snackbar-container leadsnack">
                        <div class="inside-container margin-lead">
                            <p>Your photo has been archieved.</p>
                            <div class="item item-one">
                                <button class="snack-btn">UNDO</button>
                                <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <!-- Stacked -->
            <div class="line w-800"></div>
            <h2 class="title">Stacked Snackbar</h2>
            <p class="title-content title">Stacked snackbars are often used as a tooltips/popups to show a message at the bottom of the screen.</p>
            <div class="snackbar-container">
                <div class="inside-container stacked">
                    <div>
                        <p>This item already has the label "travel". You can add a new label.</p>
                    </div>
                    <div class="item item-one">
                        <button class="snack-btn">ADD A NEW LABEL</button>
                        <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                    </div>
                </div>
            </div>
            <p class="title-content title">You can use this stacked snackbar by adding "stacked" class to the common classes.</p>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    // Stacked Snackbar
                    <div class="inside-container stacked">
                        <div>
                            <p>This item already has the label "travel". You can add a new label.</p>
                        </div>
                        <div class="item item-one">
                            <button class="snack-btn">ADD A NEW LABEL</button>
                            <button class="cross-btn"><span><i class="fas fa-times"></i></span></button>
                        </div>
                    </div>
                </script>
            </div>

        </div>
    </div>
    <script src="\prism.js"></script>
</body>

</html>