<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/doc.css">
    <link rel="stylesheet" href="/Components/Alert/alert.css">
    <link rel="stylesheet" href="/prism.css">
    <link rel="shortcut icon" href="../../images/Ozone-modified.png" type="image/x-icon">
    <title>Ozone | Alert</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="../../index.html">
                    <img src="../../images/Ozone.png" class="nav-img">
                </a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="https://github.com/Megha-Joshi"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/megha-joshi24/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/megha24joshi"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../../Get Started/doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="../../Get Started/color.html">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="../Avatar/avatar.html">Avatar</a>
                </li>
                <li class="list-menu current">
                    <a href="../Alert/alert.html">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="../Badge/badge.html">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="../Button/button.html">Button</a>
                </li>
                <li class="list-menu">
                    <a href="../Card/card.html">Card</a>
                </li>
                <li class="list-menu">
                    <a href="../Grid/grid.html">Grid</a>
                </li>
                <li class="list-menu">
                    <a href="../Image/image.html">Image</a>
                </li>
                <li class="list-menu">
                    <a href="../Input/input.html">Input</a>
                </li>
                <li class="list-menu">
                    <a href="../Lists/list.html">List</a>
                </li>
                <li class="list-menu">
                    <a href="../Modal/modal.html">Modal</a>
                </li>
                <li class="list-menu">
                    <a href="../Navigation/navigation.html">Navigation</a>
                </li>
                <li class="list-menu">
                    <a href="../Rating/rating.html">Rating</a>
                </li>
                <li class="list-menu current">
                    <a href="../Slider/slider.html">Slider</a>
                </li>
                <li class="list-menu">
                    <a href="../Snackbar/snack.html">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="../Text utilities/text-utility.html">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Alert</h1>
            <p class="title-content line-space title">Alert messages can be used to notify the user about something
                special. Ozone has 2 types of alert. </p>
            <div class="line w-800"></div>
            <h2 class="title">Simple Alert</h2>
            <p class="title-content line-space title">Simple Alert can be added by adding a different alert type class
                along
                with "alert" class.</p>
            <div class="alert-container">
                <p class="primary-alert alert">This is a primary alert.</p>
                <p class="secondary-alert alert">This is a secondary alert.</p>
                <p class="error-alert alert">This is an danger alert.</p>
                <p class="warning-alert alert">This is a warning alert.</p>
                <p class="success-alert alert">This is a success alert.</p>
            </div>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">
                    <p class="primary-alert alert">This is a primary alert.</p>

                    <p class="secondary-alert alert">This is a secondary alert.</p>

                    <p class="error-alert alert">This is an danger alert.</p>

                    <p class="warning-alert alert">This is a warning alert.</p>
					
                    <p class="success-alert alert">This is a success alert.</p>
            </script>
            </div>
            <div class="line w-800"></div>
            <h2 class="title">Outline Alerts</h2>
            <p class="title-content line-space title">Outline Alert can be added by adding a different outline alert
                type class along
                with "alert" class.</p>
            <div class="alert-container">
                <p class="secondary-alert-outline alert">This is a secondary alert.</p>
                <p class="error-alert-outline alert">This is an danger alert.</p>
                <p class="warning-alert-outline alert">This is a warning alert.</p>
                <p class="success-alert-outline alert">This is a success alert.</p>
                <p class="info-alert-outline alert">This is a success alert.</p>
            </div>
            <div class="code-wrapper">
                <script type="text/plain" class="language-markup line-numbers">

                    <p class="secondary-alert-outline alert">This is a secondary alert.</p>

					<p class="error-alert-outline alert">This is an danger alert.</p>

					<p class="warning-alert-outline alert">This is a warning alert.</p>

					<p class="success-alert-outline alert">This is a success alert.</p>

					<p class="info-alert-outline alert">This is a success alert.</p>
				</script>
            </div>
            <div class="line w-800"></div>
        </div>
        <script src="\prism.js"></script>
    </div>
</body>

</html>