<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\nav.css">
    <link rel="stylesheet" href="\css\doc.css">
    <link rel="stylesheet" href="\Components\Text utilities\text-utility.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="left-nav">
                <a href="/">Ozone</a>
            </div>
            <ul class="right-nav">
                <li>
                    <a href="/">Docs</a>
                </li>
                <li>
                    <a href="/">Examples</a>
                </li>
                <li>
                    <a href="/">Releases</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Docs -->
    <div class="main">
        <div class="left-container gutter">
            <h3 class="list-menu list-menu-no-hover">Get Started</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="doc.html">Introduction</a>
                </li>
                <li class="list-menu">
                    <a href="/">Colors</a>
                </li>
            </ul>
            <h3 class="list-menu list-menu-no-hover">Components</h3>
            <div class="line"></div>
            <ul>
                <li class="list-menu">
                    <a href="/">Avatar</a>
                </li>
                <li class="list-menu">
                    <a href="/">Alert</a>
                </li>
                <li class="list-menu">
                    <a href="/">Badge</a>
                </li>
                <li class="list-menu">
                    <a href="/">Button</a>
                </li>
                <li class="list-menu">
                    <a href="/">Card</a>
                </li>
                <li class="list-menu">
                    <a href="/">Image</a>
                </li>
                <li class="list-menu">
                    <a href="/">Input</a>
                </li>
                <li class="list-menu">
                    <a href="/">List</a>
                </li>
                <li class="list-menu">
                    <a href="/">Toast</a>
                </li>
                <li class="list-menu">
                    <a href="/">Text Utilities</a>
                </li>
            </ul>
        </div>
        <div class="right-container">
            <h1 class="title">Text Utility</h1>
            <p class="title-content title">Use Ozone text utilities, to
                present your design and content as clearly and efficiently as possible.</p>
            <div class="line w-800 "></div>
            <h2 class="title">Headings</h2>
            <p class="title-content title">All HTML headings from <code>h1</code> to <code>h6</code> are available.</p>
            <section class="text-container">
                <h1 class="text-sentence">Hii! This is an Ozone Library.<span>h1</span></h1>
                <div class="line w-700 "></div>
                <h2 class="text-sentence">Hii! This is an Ozone Library.<span>h2</span></h2>
                <div class="line w-700 "></div>
                <h3 class="text-sentence">Hii! This is an Ozone Library.<span>h3</span></h3>
                <div class="line w-700 "></div>
                <h4 class="text-sentence">Hii! This is an Ozone Library.<span>h4</span></h4>
                <div class="line w-700 "></div>
                <h5 class="text-sentence">Hii! This is an Ozone Library.<span>h5</span></h5>
                <div class="line w-700 "></div>
                <h6 class="text-sentence">Hii! This is an Ozone Library.<span>h6</span></h6>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Small Text</h2>
            <p class="title-content title">It contains the smaller text.
            </p>
            <section class="text-container small-container">
                <h1 class="text-sentence small-text">Hii! This is an Ozone Library. <span>Small</span></h1>
                <div class="line w-700 "></div>
                <h2 class="text-sentence smaller-text">Hii! This is an Ozone Library. <span>Smaller</span></h2>
                <div class="line w-700 "></div>
                <h3 class="text-sentence xsmall-text">Hii! This is an Ozone Library. <span>Extra Small</span></h3>
                <div class="line w-700 "></div>
                <h4 class="text-sentence xxsmall-text">Hii! This is an Ozone Library. <span>X-Extra small</span></h4>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Gray Text</h2>
            <p class="title-content title">It contains the gray coloured text.
            </p>
            <section class="text-container small-container">
                <p class="text-sentence gray-text">Hii! This is an Ozone Library. <span>Normal</span></p>
                <div class="line w-700 "></div>
                <p class="text-sentence large-text gray-text">Hii! This is an Ozone Library. <span>Large</span></p>
                <div class="line w-700 "></div>
                <p class="text-sentence xlarge-text gray-text">Hii! This is an Ozone Library. <span>Extra Large</span>
                </p>
            </section>
            <div class="line w-800 "></div>
            <h2 class="title">Centered Text</h2>
            <p class="title-content title">By giving text-align property to center, we can center-align the text.
            </p>
            <section class="text-container center-container">
                <p class="centered-sentence centered-text">Hii! This is an Ozone Library.</p>
                <div class="line w-700 "></div>
                <p class="large-text centered-sentence centered-text">Hii! This is an Ozone Library.</p>
                <div class="line w-700 "></div>
                <p class="xlarge-text centered-sentence centered-text">Hii! This is an Ozone Library.</p>
            </section>
            <div class="line w-800 "></div>

        </div>
    </div>
</body>

</html>