@import url(css\nav.css);
@import url(css\doc.css);
.text-container{
    display: flex;
    flex-direction: column;
    background-color: var(--box-color);
    width: 80%;
    height: 30%;
    border-radius: 5px;
    padding: 10px;
    margin: 1.25rem 0.6rem;
}
.small-container{
    height: 20%;
}
.text-sentence{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    margin: 5px;
}
.small-text{
    font-size: small;
}
.smaller-text{
    font-size: smaller;
}
.xsmall-text{
    font-size: x-small;
}
.xxsmall-text{
    font-size: xx-small;
}
.w-700{
    min-width: 31.25rem;
    margin: 0.5rem 0rem;
    padding: 0rem;
}
.gray-text{
    color: gray;
}
.large-text{
    font-size: large;
}
.xlarge-text{
    font-size: xx-large;
}
.centered-text{
    text-align: center;
}
.centered-sentence{
    margin: 5px;
}
.center-container{
    height: 10%;
}